/* Import New Sidebar */
@import url("/assets/sidebar.css");

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: "Segoe UI Variable Display", "Yu Gothic UI", "メイリオ";
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  width: 100vw;
}

h1 h2 h3 h4 h5 h6 strong {
  font-family: "Segoe UI Variable Display", "Yu Gothic UI", "メイリオ";
  font-weight: bold;
}


/* Header styles */
header {
  background-color: #f7f7f7;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 28px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

/* Main styles */
main {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

@media not (max-width: 620px) {
  main {
    margin-left: 210px;
  }
}

@media (max-width: 610px) {
  main {
    margin-left: 200px;
  }
}

main h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

section {
  margin-bottom: 40px;
}

section h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

section p {
  margin-bottom: 20px;
}

#button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
}

/* Box */
.box {
  border-radius: 15px;

  background-image: linear-gradient(to right, #61aa98, #6bb86e);
}

.left {
  text-align: left;

  margin-left: 20px;
}

/* Footer styles */
footer {
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
}
