/* Edited by Rai */
section h1 {
    font-size: 5vh
}



/* Sidebar */
.sidebar-section {
    text-align: left;

    color: white;

    margin-bottom: 5px;
    margin-left: 10px;
}


a  {
    text-decoration: none;
}

ul {
    list-style: none;
    text-align: left;
}

/* Sidebar Imaging */
.sidebar-section > a {
    margin-left: 2vw;
    
    color: white;
}

.sidebar-img {
    display: block;
    position: absolute;

    left: 0;

    width: 18px;
    height: 18px;
}


/* Sidebar Title */
.sidebar-section-title {
    color: white;
    opacity: 0.5;
}

/* THX legacy update❤ */
.sidebar {
    position: fixed;
    left: 0;
    width: 208px;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #fff;
    background: #7ba2e7;
    background-image: linear-gradient(to bottom,#7ba2e7,#6375d6);
    -pie-background: linear-gradient(to bottom,#7ba2e7,#6375d6);
    cursor: default;
    -pie-track-active: false
}

.sidebar {
  background: #416fa6;
  background-image: linear-gradient(to bottom, #416fa6, #6bb86e);
  background-image: url(/assets/sidebar-vista-wallpaper.png),
    linear-gradient(to bottom, #416fa6, #6bb86e);
  background-position: bottom left;
  background-size: 100% auto;
  background-repeat: no-repeat;
  -pie-background: url(/assets/sidebar-vista-wallpaper.png) no-repeat bottom left/100%
      auto,
    linear-gradient(to bottom, #416fa6, #6bb86e);
  font-size: 9pt;
}